/* General */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* Particles-js */
#particles-js {
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}
canvas {
  display: block;
  vertical-align: bottom;
}
/* App */

#side-buttons a {
	position: absolute;
	left: -80px;
	transition: 0.3s;
	padding: 5px;
	width: 100px;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	color: white;
	font-family: "Roboto";
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
	border-left-style: hidden;
	border-width: 1px;
}

#side-buttons a:hover {
	left: 0;
}

#saveButton{
	top: 10px;
}

#loadButton{
	top: 45px;
}

.button-menu {
  background: linear-gradient(135deg, #e570e7 0%, #79f1fc 100%);
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  padding: 30px;
  font-size: 20px;
  line-height: 5px;
  font-family: "Roboto";
  color: white;
  border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

#moneyText {
  font-size: 40px;
  font-family: "Roboto";
}

#container-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-buttons {
  width: 25vw;
  height: 10vh;
  margin-top: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 1280px) {
  #container-buttons {
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-style: hidden;
    border-color: white;
  }
  #container-text {
    border-style: solid;
    border-width: 1px;
    border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		white-space: nowrap;
    text-align: center;
    border-color: white;
  }
  #container-info {
    width: 25vw;
    padding: 0px;
    height: 5vh;
    border-style: solid;
    border-bottom-style: hidden;
		font-family: "Roboto";
		white-space: nowrap;
    border-width: 1px;
    border-color: white;
  }
}

#container-text {
  display: flex;
  justify-content: center;
	width: 25vw;
	white-space: nowrap;
  height: 8vw;
  font-size: 40px;
}

p {
  text-align: center;
	font-size: 15px;
	white-space: nowrap;
  color: antiquewhite;
  font-family: "Roboto";
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
